
/* Login Page page
----------------------------------------------------------*/



#login-box 
{
	
	width:350px;
	height: 300px;

	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;
	background: url(../images/login-box-backg1.png) no-repeat left top;
}

#LoginContainerbox
{
margin: auto;
top :220px;
position: relative;
width: 480px;
height: 500px;


} 
.validators
{
     margin-left: 94px;
    }

#login-box img 
{
	
	border-style: none;
    border-color: inherit;
    border-width: medium;
    height: 50px;
    width: 70px;
    box-shadow: 0 0 7px #DAD9D9;
}

#login-box h2 {
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}


#login-box-name {
	float: left;
	display:inline;
	width:80px;
	text-align: right;
	padding: 5px 5px 0 0;
	margin:0 0 7px 0;
	font-weight:bold;
}



.form-login  {
	width: 205px;
	padding: 2px 10px 2px 3px;
	border: 1px solid #0d2c52;
	background-color:#E6F0F3;
	font-size: 14px;
	color: #000;
}


.login-box-options  {
	clear:both;
	padding-left:87px;
	font-size: 12px;
}

.login-box-options a {
	color: #ebebeb;
	font-size: 12px;
}



.loginDisplay
{
    font-size: 1.1em;
    display: block;   
    float:right;
    text-align:right;
    margin-left:45px; 
    margin-top:-45px;
    color: White;
}


.inputbox
{
    border: thin solid #dadada;
    font-size: 13px;
    padding: 3px;
    width:200px;
    
}
.inputbox:focus
{
    outline: none;
    border-color: #0099FF;
    box-shadow: 0 0 10px #9ecaed;
    background-color: #FFFFFF;
    width: 200px;
}